extends layout

block content
    h1 Nachbarschaftshilfe Wangen
    p.lead Eine Website zum Suchen und Anbieten von Hilfeleistungen.
    hr
    .row
        .col-md-12
            .alert.alert-warning(role="alert") 
                | WICHTIG: Die 110 ist <b>nicht</b> für Fragen zu Covid-19 zuständig. Bei Fragen bitte die <a href="tel:071190439555">+49 711 904-39555</a> anrufen!
        .col-md-12
            h4 Neue Angebote:
            div.list-group
                if latestOffers.length > 0
                    each offer in latestOffers
                        div.list-group-item
                            .d-flex.w-100.justify-content-between
                                h6.mb-1 #{offer.title}
                                small #{offer.createdAt}
                            p #{offer.description}
                            small #{offer.category.title}
                else
                    .alert.alert-secondary(role="alert") Keine Angebote gefunden!
            br
            p
                a.btn.btn-primary.btn-block(href='/offers', role='button') Zur Übersicht aller verfügbarer Angebote (#{offerCount}) »
        .col-md-6
            h4 Informationen zu Covid-19
            p Allgemeine Informationen über das neue Coronavirus/Covid-19 findet man auf der offiziellen Seite Bundeszentrale für gesundheitliche Aufklärung (BZgA). Informationen aus anderen Quellen sollten auf jeden Fall verifiziert werden, da sich im Netz etliche "Fake-News" finden lassen. 
            p
                a.btn.btn-success(href='https://www.infektionsschutz.de/coronavirus/', role='button', target="_blank") Details »
        .col-md-6
            h4 Covid-19 in Wangen
            p Übersicht aller Informationen und Meldungen in Wangen.
            p
                a.btn.btn-success(href='https://www.wangen.de/corona-meldungen.html', role='button', target="_blank") Details »